@media print {
    body {
        font-family: "Linux Libertine O", serif;
        font-size: 14px;
        line-height: 18px;
    }

    a { color: $black; }

    nav { display: none; }

    body > main {
        margin: 0;
    }

    body > main article {
        border: 0;
        padding: 1em;
    }
}
